html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0pt none;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0pt;
	outline-color:invert;
	outline-style:none;
	outline-width:0pt;
	padding:0pt;
	vertical-align:baseline;
}

table {
	border-collapse:separate;
	border-spacing:0pt;
}

caption, th, td {
	font-weight:normal;
	text-align:left;
}

blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}

blockquote, q {
	quotes:"" "";
}

strong, b {
	font-weight:bold;
}

em, i {
	font-style:italic;
}

* {
	margin:0pt;
	padding:0pt;
}

body {
	background-color:#151d30;
	font-size:12px;
	font-family:arial, sans-serif;	
}

a {
	color:#fefefe;
	text-decoration:none;
}

a:hover {
	color:#fefefe;
	text-decoration:none;
}

#wrapper {
	width:100%;
	background:url(images/headerbg.png) center top no-repeat;
	margin:-4px 0 0 0;
}

#wrapper .content {
	width:880px;
	margin:0px auto;	
}

/*
 * HEADER
 */
#header {
	padding-top:35px;
	padding-bottom:15px;
	color:#fff;
}

#header h1 {
	padding-left:70px;
	padding-bottom:20px;
	background:url(images/logo.png) left 4px no-repeat;
	font-size:40px;
	font-family:"myriad pro";
	color:#fff;
}

#header h1 a {
	color:#fff;
	display:block;
}

#header h1 a:hover {
	color:#fff;
}

#header h1 a span{
	font-size:16px;
	color:#cfe7f1;
	display:block;
	text-transform:uppercase;
	font-weight:normal;
	margin-bottom:-15px;
}

/*
 * CONTENTS MENU
 */ 
#menu ul {
	font-size:30px;
	font-weight:bold;
	list-style:none;
	text-align:center;
}

#menu ul li{
	display:inline-block;
}

#menu ul li a{
	color:#151d30;
	display:inline-block;
	padding:12px 22px;
	line-height:27px;
	text-decoration:none;
}

#menu ul li a:hover{
	color:#fff;	
}

#menu ul li.selected a{
	color:#fffdbf;
	background:#151d30;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* 
 * CONTENTS CONTAINER
 */
#container {
	height:560px;
	overflow:hidden;
}

#container .page {
	height:560px;
	overflow:hidden;
}

/*
 * WORKS
 */
.work {
	margin-left:auto;
	margin-right:auto;
	color:#ffffff;
	background:#000000;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	padding:16px;
	width:540px;
	height:470px;
	font-size:15px;
	opacity:0.7;
}

#slider {
	margin-left:auto;
	margin-right:auto;
	position:relative; /*important for ie bugfix*/
	width:572px; 
	overflow:hidden;
	z-index:10;
}

#slider>.next { 
	float:right;
	cursor:pointer;
}
	
#slider>.prev {
	float:left;
	cursor:pointer;
}

#slider>ul.items { 
	position:relative; 
}
	
#slider>ul.items>li {
	list-style:none;
	float:left;
}

#slider>.indexes {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}	
	
#slider>.indexes>li {
	display:inline-block;
	list-style:none;
	width:8px;
	height:8px;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
	background:url(images/dotnonactive.png) center bottom no-repeat;
}

#slider>.indexes .active {
	background:url(images/dotactive.png) center bottom no-repeat;
}
	
.jobtitle {
	color:#ffffff;
	font-size:20px;
}

.work table {
	padding-left:1em;
	margin-bottom:16px;	
}

.work .description {
	height:320px;
	overflow:auto;
}

.description .image {
	text-align:center;
	height:64px;
	margin-top:10px;
	margin-bottom:10px;
}

.work ul {
	padding-left:3em;
}

.work li {
	padding-top:5px;
	list-style:url('images/check.png');
}

.work td {
	padding-right:8px;
}

.work p {
	text-indent:1em;
	margin-top:10px;
	margin-bottom:10px;
}

.work .floatright {
	float:right;
}

/*
 * BLOG
 */
#blog > div {
	width:890px;
	margin-left:auto;
	margin-right:auto;
}

#blog .published {
	font-size:13pt;
}

#blog .entry {
	margin-bottom:20px;
	color:#333333;
	background:#cccccc;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	width:690px;
	height:500px;
	overflow:hidden;
	padding-top:10px;
	padding-left:10px;
	opacity:0.7;
}

#blog .entry pre {
	padding:8px;
	width:650px;
	overflow:auto;
	background:#aacc88;
}

#blog .entry .dp-highlighter {
	width:650px;
}

#blog .entry .title {
	font-size:16pt;
}

#blog .entry .body {
	max-height:400px;
	font-size:13pt;
	overflow:auto;
}

#blog .entry a {
	color:#884422;
}

#blog .entries { 
	width:700px;
	overflow:hidden;
	display:inline-block;
	vertical-align:middle;
}

#blog .next,.prev {
	vertical-align:middle;
}

#blog .entries ul {
	position:relative;
}
	
#blog .entries ul>li {
	list-style:none;
	float:left;
}

#blog>.indexes {
	text-align:center;
}

#blog>.indexes>li {
	display:inline-block;
	list-style:none;
	width:8px;
	height:8px;
	padding-left:5px;
	padding-right:5px;
	background:url(images/dotnonactive.png) center bottom no-repeat;
}

#blog>.indexes .active {
	background:url(images/dotactive.png) center bottom no-repeat;
}

#blog>.title {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:#ffffff;
	font-size:15px;
}

/*
 * CONTACT
 */ 
#contact ul {
	list-style:none;
	text-align:center;
	margin-top: 64px;
}

#contact li {
	display:inline-block;
	padding-left:30px;
	padding-right:30px;
	padding-top:60px;
	margin-left:auto;
	margin-right:auto;
}

#contact li img {
	width:128px;
	height:128px;
	background:rgb(30,30,30);
	-webkit-border-radius:16px;
	-moz-border-radius:16px;
	opacity:0.6;
	padding:16px;
}

#contact li img:hover {
	background:rgb(200,200,200);
}

/*
 * FOOTER
 */ 
#footer .content .copyright {
	font-size:11px;
	color:#41536a;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	text-align:center;
}
